//reset
@import 'ress/ress';

//plugin
@import 'modaal/dist/css/modaal.scss';

@import "_library/_animation";
@import "_library/_colors";
@import "_library/_fonts";
@import "_library/_mixin";
@import "_library/_localmixin";
@import "_library/_typo";

@import "_components/_icon";
@import "_components/_button";
@import "_components/_form";
@import "_components/_tab";
@import "_components/_tag";
@import "_components/_list";
@import "_components/_table";
@import "_components/_header";
@import "_components/_layout";
@import "_components/_nav";
@import "_components/_content";
@import "_components/_page";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300,400,700&amp;subset=japanese');
$baseWidth : 1366;
$baseHeight : 868;
$SPbaseWidth : 375;

@function vw($pixel) {
    @return $pixel / $baseWidth * 100vw;
}
@function vh($pixel) {
    @return $pixel / $baseHeight * 100vh;
}
@function vws($pixel) {
    @return $pixel / $SPbaseWidth * 100vw;
}
 
.-dis-n{
    display: none;
}
html{
    font-family:'Noto Sans JP',MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    overflow-x: hidden;
    font-weight: 400;
}
body{
    color: #000b21;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #fafafa;
    line-height: 1.6;
    word-break: break-all;
    @include mq(sm, max){
        font-size: 16px;
    }
}
a{
    text-decoration: underline;
    color:#3100c2;
    transition: all 400ms;
    &:hover{
        text-decoration: none;
        opacity: 0.7;
    }
}
dd{
    margin:0;
}
.section-box{
    margin: 0;
}
.only-sp {
    @include mq(sm, min){
        display: none !important;
    }
}
.only-pc {
    @include mq(sm, max){
        display: none !important;
    }
}
h3{
    line-height: 1;
}
img{
    width:100%;
    height: auto;
}
li {
    list-style: none;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    &.-jc-c{
        justify-content: center;
    }
    &.-jc-sb{
        justify-content: space-between;
    }
}
.scroll-block > * {
    opacity: 0;
    transition: all 600ms ease;
}
.scroll-block .blockIn {
    opacity: 1;
}
.scroll-block .book__img{
    opacity:1;
}
.wrapper{
    width:100%;
    overflow-x: hidden;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/img/bg.webp);
        background-size: 40%;
        opacity: 0.3;
        z-index: -1;
    }
}
.cmn{
    &__wrapper{
        width: 1000px;
        margin: 0 auto 48px;
        @include mq(sm, max){
            width:100%;
        }
    }
    &__table-list{
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #d5d5d5;
        display:flex;
        align-items: start;
        @include mq(sm, max){
            display:block;
        }
    }
    &__table-tit{
        width:16%;
        font-weight: bold;
        &:after{
            content:'：';
        }
        @include mq(sm, max){
            width:100%;
        }
    }
    &__table-txt{
        width:80%;            
        @include mq(sm, max){
            width:100%;
        }
    }
    &__listwrapper{
        padding-left:16px;
        opacity: 0.8;
        font-size:14px;
    }
    &__list{
        list-style-type: disc;
        margin-bottom: 6px;
    }
    &__attention{
        font-size:13px;
        opacity: 0.5;
        margin-top: 8px;
        &.-strong{
            font-size:15px;
            padding:12px;
            margin-top: 16px;
            margin-bottom: 16px;
            opacity: 1;
            color:#8D0100;
            border:1px solid #8D0100;
            background-color: #f9e9e9;
        }
    }
    &__lead{
        margin-bottom:60px;
        text-align: center;
        @include mq(sm, max){
            text-align: left;
        }
    }
    &__subhead{
        font-size: 18px;
        margin-bottom: 12px;
        display: block;
        border-bottom:2px solid #6f52cd;
        border-image: linear-gradient(to right, #c21500 0%, #ffc500 100%);
        border-image-slice: 1;
        padding-bottom:12px;
        @include mq(sm, max){
            font-size: 20px;
        }
    }
    &__heading{
        margin: 40px auto;
        font-size: 22px;
        padding:12px;
        position: relative;
        display: block;
        width: 1000px;
        transition: all .1s ease-in-out;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(180deg, #48bed0 0%, #6f52cd 100%);
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
        border-radius: 8px;
        @include mq(sm, max){
            margin-bottom: 20px;
            width:100%;
            font-size: 20px;
            line-height:1.6;
            margin: 0px auto 32px;
        }
        img{
            width:100%;
            &.only-sp{
                @include mq(sm, max){
                    height:100px !important;
                }
            }
        }
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    background-blend-mode:multiply;
    background-repeat: repeat;
    position: fixed;
    width:100%;
    z-index: 10;
    transition: all 1s ease;
    @include mq(sm, max){
        display: block;
        padding:16px;
    }
    &__logo{
        @include mq(sm, max){
            width:100%;
            display: flex;
            justify-content: space-between;
        }
        img{
            width: 100px;
            line-height: 0;
            @include mq(sm, max){
                width: 80px;
            }
        }
    }
    &__hamburger{
        display: none;
        @include mq(sm, max){
            display: block;
            position: relative;
            width:28px;
        }
        span{
            position: absolute;
            height:2px;
            background: #fff;
            width:28px;
            &:nth-of-type(1){
                top:4px;
            }
            &:nth-of-type(2){
                top:12px;          
            }
            &:nth-of-type(3){
                top:20px;
            }
        }
    }
    &__nav{
        @include mq(sm, max){
            display: none;
            margin-top: calc(50vh - 27px);
            transform: translateY(-50%);
        }
    }
    &.-active{
        display: block;
        height:100vh;
        .header__nav{
            display: block;
        }    
    }
}
.nav{
    display: flex;
    @include mq(sm, max){
        display: block;
    }
    &__list{
        margin-left: 24px;
        font-size: 18px;
        font-weight: bold;
        @include mq(sm, max){
            margin-left:0;
            margin-top:24px;
            text-align: center;
        }
    }
    &__link{
        color:#fff;
        text-decoration: none;
    }
}
.sns{
    display: flex;
    @include mq(sm, max){
        justify-content: center;
    }
    &__list{
        margin-left: 24px;
        @include mq(sm, max){
            margin:20px 12px;
        }
    }
}
.mv{
    width: 1000px;
    margin:auto;
    line-height: 0;
    @include mq(sm, max){
        width:100%;
    }    
    &__wrapper{
        width:880px;
        @include mq(sm, max){
            width:90%;
        }    
    }
}
.btn{
    text-align: center;
    text-decoration: none;
    color:#fff;
    &.-apply{
        background-color: #8D0100;
        font-size:40px;
        font-weight: bold;
        width:100%;
        padding:28px;
        display: inline-block;
        position: relative;
        box-shadow: 0px 5px 15px #00000080;
        border-radius: 4px;
        cursor: pointer;
        @include mq(sm, max){
            font-size:24px;
        }
        &:after{
            content: "";
            border: solid 3px #fff;
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            @include mq(sm, max){
                border: solid 2px #fff;
            }
        }
    }
    &.-finish{
        background-color: #B9B9B9;
        font-size:40px;
        width:100%;
        padding:28px;
        display: inline-block;
        position: relative;
        @include mq(sm, max){
            font-size:24px;
        }
        &:after{
            content: "";
            border: solid 3px #fff;
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
        }
    }
    &.-agree{
        background-color: #8D0100;
        font-size:24px;
        font-weight: bold;
        width:800px;
        padding:20px;
        margin:5vh auto 3vh;
        display: block;
        position: relative;
        box-shadow: 0px 5px 15px #00000080;
        border-radius: 4px;
        @include mq(sm, max){
            font-size:18px;
            width:90%;
            margin: 3vh auto;
        }
        &:after{
            content: "";
            border: solid 3px #fff;
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            @include mq(sm, max){
                border: solid 2px #fff;
            }
        }
    }
}
.footer{
    padding:40px 0 0;
    @include mq(sm, max){
        padding:40px 16px 0;
    }
    &__logo{
        width:120px;
        margin:0 auto;
        display: block;
        margin-bottom: 40px;
        @include mq(sm, max){
            width:80px;
        }
    }
    &__list{
        text-align: center;
        margin-bottom:16px;
    }
    &__link{
        color:#fff;
        text-decoration: none;
        &:before{
            content:url(../img/icon_link.svg);
            margin-right: 16px;
        }
    }
}
.app{
    background-blend-mode:multiply;
    background-repeat: repeat;
    @include mq(sm, max){
        width:100%;
        margin:0 auto;
        padding:10px;
    }
    &__btn{
        background:#6f52cd;
        border-color:#6f52cd;
        padding:19px 200px 20px;
        max-width: none !important;
        @include mq(sm, max){
            padding:10px 40px;
        }
        &[disabled]{
            background:#aeaeae;
            border-color:#aeaeae;
            cursor:auto;
        }
    }
    &__wrapper{
        width:1000px;
        margin:0 auto;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        position: relative;
        @include mq(sm, max){
            width:100%;
            border-radius: 0;
            padding-bottom: 0;
            margin-top: -20px;
        }
    }
    &__end{
        position: relative;
        &:after{
            content:'お申し込み期間は終了しました';
            height:calc(100%);
            width:100%;
            background-color: rgba(0,0,0,.6);
            color:#fff;
            position: absolute;
            top:0;
            left: 0;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            font-size: 24px;
            padding-top:200px;
            @include mq(sm, max){
                font-size: 20px;
            }        
        }
    }
    &__lead{
        text-align: center;
        padding: 0 0 40px;
        @include mq(sm, max){
            width: calc(100% - 20px);
            margin:0 auto;
            text-align: left;
            padding: 0 0 20px;
        }
    }
    &__limit{
        border: 2px solid #c21500;
        color:#c21500;
        background-color: #fff;
        font-weight: bold;
        width:1000px;
        margin:0 auto;
        display: flex;
        justify-content: center;
        font-size: 18px;
        gap:20px;
        padding:10px;
        align-items: center;
        @include mq(sm, max){
            width:calc(100% - 20px);
            font-size: 16px;
            display: block;
            text-align: center;
        }    
    }
    &__form{
        width:1000px;
        margin:0 auto;
        padding-top:40px;
        @include mq(sm, max){
            width:100%;
        }    
    }
    &__agree{
        text-align: center;
        label{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__desc{
        margin-top: 60px;
        @include mq(sm, max){
            margin-top: 32px;
        }
    }
    &__policy{
        height:200px;
        overflow-y: auto;
        padding:20px;
        border: #646464 2px solid;
        margin: 40px 0;
        @include mq(sm, max){
            margin: 20px 0;
        }
    }
    &__close{
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        z-index: 1;
        opacity: 0.85;
        display: flex;
        align-items: center;
        justify-content: center;
        &-txt{
            color:#fff;
            font-size: 22px;
            font-weight: bold;
        }
    }
}
label{
    margin-right: 20px !important;
    display: inline-flex !important;
    align-items: center;
}
input,select,textarea{
    border:#aeaeae 1px solid;
    padding:8px;
    background-color: #fcfcfc;
    &::placeholder{
        color:#cbcbcb;
    }
}
textarea{
    width:100%;
}
input{
    @include mq(sm, max){
        width:100%;
    }
}
input[type="radio"]{
    width:20px;
    height:20px;
    margin: 4px 10px 4px 0;
}
input[type="checkbox"]{
    width:20px;
    height:20px;
    margin: 4px 10px 4px 0;
}
.thanks{
    padding:80px 0;
    @include mq(sm, max){
        padding:10px 0;
    }
    &__wrapper{
        width:964px;
        padding:100px 20px;
        border-radius: 8px;
        text-align: center;
        margin:0 auto;
        @include mq(sm, max){
            width:calc(100% - 20px);
        }    
    }
    &__title{
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 1.6;
        @include mq(sm, max){
            font-size: 20px;
        }
    }
    &__content{
        line-height: 1.8;
    }
}
.form{
    &__column{
        padding:24px 20px;
        border-bottom: 1px solid #d5d5d5;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include mq(sm, max){
            display: block;
            padding:12px 0;
        }
    }
    &__head{
        width:32%;
        @include mq(sm, max){
            width:100%;
            font-size: 16px !important;
            font-weight: bold;
        }
    }
    &__input{
        width:60%;
        align-items: center;
        font-size:16px !important;
        gap:18px;
        @include mq(sm, max){
            width:100%;
            display: block;
        }
        .label1{
            width:80%;
            margin: 4px 0;
            @include mq(sm, max){
                width:100%;
            }    
        }
        .label2{
            width:50px;
            margin: 4px 0 !important;
            @include mq(sm, max){
                width:50px;
            }    
        }
        .label3{
            width: 37.5%;
            margin: 4px 5% 8px 0 !important;
            @include mq(sm, max){
                width: 47%;
            }    
            &:last-of-type{
                margin-right: 0 !important;
            }
        }
    }
    &__require{
        color:#c21500;
        font-weight: normal;
    }
    &__attention{
        color:#c21500;
        font-size: 14px;
        margin-top: 16px;
    }
    &__final{
        font-size: 14px;
        text-align: center;
        margin: 32px 0;
        & input{
            vertical-align: sub;
        }
    }
    &__sub{
        font-size: 13px;
        margin-top: 12px;
    }
}

form#mailformpro label.mfp_checked,form#mailformpro label.mfp_not_checked {
    padding: 8px !important;
    border: none;
    background-color:#fff;
    box-shadow: none;
}
form#mailformpro label {
    margin: 0;
    white-space:normal;
}
.policy{
    display: none;
    background-color:rgba(0,0,0,.9);
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index: 1000;
    &__wrapper{
        width:1000px;
        margin:0 auto;
        background-color: #fff;
        color:#fff;
        padding:40px;
        height: 52vh;
        overflow-y: scroll;
        font-size: 14px;
        max-width: 1000px;
        margin: 0 20px;
        @include mq(sm, max){
            width:90%;
            padding:16px;
        }    
    }
    &__tit{
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 4vh;
        display: block;
        font-size: 22px;
    }
    &__close{
        text-align: center;
        cursor: pointer;
    }
}
section h2:before{
    content:none;
}

footer .section-lineup .banner-box li{
    width:100%;
}
.mfp_buttons{
    font-size:22px;
    text-align: center;
    background-color: #6f52cd;
    color:#fff;
    font-weight: bold;
    border-radius: 4px;
    margin: 30px auto 0;
    text-decoration: none;
    position: relative;
    padding:0 !important;
    width: 490px;
    display: block;
    @include mq(sm, max){
        width:calc(100%);
        margin: 20px auto 20px;
        font-size:20px;
    }
    &:after,&:before{
        position: absolute;
        top: -2px;
        width: 27px;
        height: 79px;
        content: '';
        @include mq(sm, max){
            position: absolute;
            top: 0px;
            width: 19px;
            height: 54px;
            content: '';
        }    
    }
}
.-attention{
    color: #8d0100;
}

select {
    width: 100%;
}

// 応募規約スクロールエリア
.terms-scroll {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;

    h3 {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0 10px;
        &:first-child {
            margin-top: 0;
        }
    }

    p {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 10px;
    }

    .terms-end {
        text-align: right;
        margin-top: 20px;
    }

    @include mq(sm, max){
        padding: 15px;

        h3 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }
    }
}

// Google フォーム埋め込み用レスポンシブスタイル
.google-form-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    iframe {
        width: 100%;
        border: none;
        overflow: hidden;

        @include mq(sm, max){
        }
    }
}

#hidden_iframe {
    visibility: hidden;
    display: none !important;
    position: absolute;
    width: 0;
    height: 0;
}